body {
	background-color: #051325;
}

.historia{
	width: 1200px;
	height: 720px;
	color: white;
}


.episodio{

	width: 1200px;
	height: 100%;
	color: white;
	background-color: #04011C;
	padding: 40px;
    margin-left:auto;
    margin-right:auto;

}

h1{
	color: white;
}

.nav {
	margin: 120px;
}

h1 {
	text-align: center;
	margin: 20px;
}

.nav-link{
	margin-right: 20px;
}

.sinopsis{
	margin: 40px;
	color: white;
}

.dibujoSinopsis{
	margin-left: 80px;
	margin-top: 25px;
}

.quienSoy{
	margin: 40px;
	color: white;
}

.dropdown {
	margin: 40px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #04011C;
  color: white;
}
